name: Cypress - SauceDemo spec

on:
  push:
    branches: ["main", "master"]
  pull_request:
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          repository: kerware/testcypress
          fetch-depth: 1

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress spec
        run: npx cypress run --spec "./cypress/e2e/saucedemo.spec.cy.js"
